@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: Vazir Regular;
    src: url(/assets/fonts/Vazir-Regular.woff2);
  }

  @font-face {
    font-family: Vazir Medium;
    src: url(/assets/fonts/Vazir-Medium.woff2);
  }

  @font-face {
    font-family: VazirBlack;
    src: url(/assets/fonts/Vazir-Black.woff2);
  }

  body {
    @apply bg-black font-VazirR text-white
  }

  /* active NavLink */
  .navLink__active {
    @apply border-l-4 border-secondary text-secondary text-lg font-VazirB;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }

  .scroll::-webkit-scrollbar {
    width: 3px;
  }

  .scroll::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 15px;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #448BFF;
    border-radius: 15px;
  }

}