@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: Vazir Regular;
    src: url(/assets/fonts/Vazir-Regular.woff2);
  }

  @font-face {
    font-family: Vazir Medium;
    src: url(/assets/fonts/Vazir-Medium.woff2);
  }

  @font-face {
    font-family: VazirBlack;
    src: url(/assets/fonts/Vazir-Black.woff2);
  }

  body {
    @apply bg-black font-VazirR text-white
  }

  /* active NavLink */
  .navLink__active {
    @apply border-l-4 border-secondary text-secondary font-VazirB;
  }
}